/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();


html, body { height: 100%; background-color: black;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$Spotify-primary: mat.define-palette(mat.$green-palette, 600);
$Spotify-accent: mat.define-palette(mat.$blue-palette, 300);
$Spotify-warn: mat.define-palette(mat.$red-palette);

$Spotify-theme: mat.define-light-theme((
  color: (
    primary: $Spotify-primary,
    accent: $Spotify-accent,
    warn: $Spotify-warn, 
  ),
));

@include mat.all-component-themes($Spotify-theme);

  
