<div class="container">
    <mat-card class="main_spotify">
        <mat-card-content class="main-content-spotify">
            <div class="artists">
                <div class="search-bar">
                    <mat-icon>search</mat-icon><input [(ngModel)]="searchQuery" (keyup)="runAll()" class="search-bar-input" placeholder="What do you want to listen to?" type="search">
                </div>
                <div class="artist-search-card" *ngFor="let item of searchForArtists">
                    <h1>Most searched:</h1>
                    <mat-card class="example-card">
                        <mat-card-header class="card-header">
                            <img class="artist-image" [src]="item.images[0].url!" alt="">
                            <p class="search-track-name">{{item.name}}</p>
                            <div class="search-who">Artist</div>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
            <div class="tracks">
                <h1 *ngIf="searchForTracks">Tracks:</h1>
                <mat-card  *ngFor="let item of searchForTracks" class="track-card">
                    <mat-card-header class="track-header">
                        <img class="track-image" [src]="item.album.images[0].url!" alt="">
                        <p class="search-track-name">{{item.name}}</p>
                    </mat-card-header>
                </mat-card>
            </div>    
        </mat-card-content>   
        <div class="categories">
            <mat-grid-list [cols]="cols" [gutterSize]="'10px'">
                <h1>Categories:</h1>
                <mat-grid-tile *ngFor="let item of getCategories">        
                        <mat-card class="categories-card">
                            <mat-card-header class="categories-header">
                                <img class="categorie-image" [src]="item.icons[0].url!" alt="">
                                <p class="search-name">{{item.name}}</p>
                            </mat-card-header>
                        </mat-card>
                </mat-grid-tile>
            </mat-grid-list>          
        </div>
    </mat-card>
</div>

